<div class="row" style="margin-top: 50px;">
    <div class="col-1"></div>
    <div class="col-8 card text-white bg-primary mb-3">
        <div class="card-body">
            <h2 class="card-title text-center">Simulador OptiMaxx Plus</h2>
        </div>
    </div>
    <div class="col-2">
        <div class="card border-primary mb-3">
            <div class="text-primary">
                <img class="card-img" style="height: 67px;" src="../../assets/img/logo-allianz.jpg">
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
