<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card border-primary mb-3">
            <div class="card-body text-primary">
                <p class="text-center">
                    De acuerdo con la Ley del Impuesto Sobre la Renta, el monto total de las deducciones personales no
                    podrá exceder de la cantidad que resulte menor entre 5 UMA´s anuales y el 10% de los ingresos
                    anuales percibidos. El fondo exento a edad 65 será el equivalente a 15 UMA´s anuales (dicha exención
                    se podrá realizar cada año) o 90 UMA´s anuales en una sola exhibición. Sobre excedente se retendrá
                    20%.
                </p>
                <p class="text-center">
                    Las tasas de crecimiento elegidas tienen fines ilustrativos únicamente. La tasa anual proyectada
                    está expresada antes de cargos. La ganancia real podría ser otra, ya que, debido a la naturaleza de
                    este tipo de inversiones, su rendimiento puede indistintamente subir o bajar. El saldo proyectado se
                    expresa después de los cargos del producto. Si se rescata de forma anticipada el Saldo Sujeto a
                    Retiro, el valor ilustrado le da una estimación de lo que podrá recibir, por lo tanto, para obtener
                    los máximos beneficios de esta inversión, la aportación debería ser realizada por la duración del
                    plazo contratado. En caso de fallecimiento se entregará a los beneficiarios el Saldo del Fondo
                    menos el Bono de fidelidad después de aplicar la retención de impuestos. Dicha retención actualmente
                    es del 20%.
                </p>
                <p class="text-center">
                    Todo retiro es acumulable al ingreso del (los) beneficiario(s), por lo que la retención representa
                    un pago provisional de los impuestos. La presente ilustración se ofrece únicamente a modo de guía y
                    no debe ser considerada como un contrato desde el punto de vista legal. Para
                </p>
                <p class="text-center">
                    El supuesto de inflación utilizado para los cálculos es del 4%.
                    Los rendimientos mostrados para los portafolios en pesos, dólares y euros son los generados del 31
                    de diciembre de 2008 al 31 de
                    diciembre de 2019.
                    Los rendimientos de las alternativas dedicadas corresponden a los generados del 31 de diciembre de
                    2010 al 31 de diciembre de 2019. Los valores mostrados en el presente documento son de referencia.
                    Los rendimientos pasados no garantizan la misma ganancia a futuro.
                </p>
            </div>
        </div>
    </div>
    <div class="col-1">
    </div>
</div>